/* robot-google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  /* Content below header in home-section */
  .home-section .employeeview_admin {
      position: relative;
      margin:30px 72px;
      
  }

  .employeeview_admin .overview-boxes {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;


  }

  .employeeview_admin .overview-boxes .box{
      padding: 15px 14px;
      box-shadow: 5px 5px 5px #888888;
      background-color: #FBFAFA;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius:12px;
      min-width:200px;
  }

  .employeeview_admin.overview-boxes .box-topic {
      font-size: 20px;
      font-weight: 500;
  }

  .employeeview_admin .overview-boxes .number {
      font-size : 30px;
      font-weight :500;
      margin-top: 5px;
      display:inline-block;
  }

.employeeview_admin .overview-boxes .box .member{
      font-size:50px;
      font-weight:500;
      height:50px;
      width:50px;
      line-height:50px;
      text-align:center;
      border-radius:12px;
      color:#0E2C4B;

  }

  /* ----------------Member-Details-------- */

  .employeeview_admin .all_employees {
    margin:50px 0px;
    background-color:#d6d4d4;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    /* padding:20px; */
  }

  .employeeview_admin .all_employees .title_employees {
    margin: 35px 4% 10px;
    padding-top: 45px;
    width:92%;
    display:flex;
    text-align: center;
    justify-content: space-between;
    color:#0E2C4B;
  }

  .employeeview_admin .all_employees .title_employees input[type=text] {
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 17px;
    border: none;
  }

  .employeeview_admin .all_employees .title_employees button{
  padding: 6px 10px;
  /* margin-top: 8px;
  margin-right: 16px; */
  color: #FFF;
  background: #0E2C4B;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }

  .employeeview_admin .all_employees .title_employees .all_gym_employees {
    font-weight: 500;
    font-size:25px;
  }

  .employeeview_admin .all_employees .title_employees .Add {
    font-weight:500;
    /* display: flex; */
    /* gap:5px; */
    color:#0E2C4B ;
    text-decoration: none;
    font-size: 18px;
  }

  .employeeview_admin .all_employees .title_employees .Add i{
    font-weight:500;
    font-size:20px;
  }

  .employeeview_admin .all_employees table{
    width:92%;
    border-collapse: collapse;
    margin: 35px 4% 10px;
    border-collapse:separate;
    border-spacing:0 15px;

   
}


.employeeview_admin .all_employees table .employee_info , .employee_header{
  background-color: white;
    height: 60px;
    text-align: center;
    padding: 10px; 
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.employeeview_admin .all_employees table .employee_info:hover {
      background-color: #D6EEEE;
      /* box-shadow: 5px 0 0 0 gray; */
}

.employeeview_container_popup {
    display:flex;
    flex-direction:column;
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 100;
    border-radius: 5px;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.close_employeeview_btn {
    position: absolute;
    right: 25px;
    top: 25px;
    /* padding: 4px; */
    cursor: pointer;
}
.close_employeeview_btn i {
    font-size: 24px;
    color:red;
}

.employeeview_container_header h1{
    /* font-size: 26px; */
    color: #0E2C4B;
    font-weight: bold;
    margin:10px 0;
}

.employee_personal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.employee_personal ul {
    list-style-type: none;
    font-size: 16px;
    line-height: 28px;
    margin: 10px;
    display: inline-block;
}

.titles {
    font-weight: 500;
}

.view_popup {
    font-size:25px;
    color:#0E2C4B;
}
.remove_button {
    display: flex;
    justify-content: space-evenly;
    /*margin-right: 40px;*/
}

.rem_button {
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border-color: red;
    font-size: 13px;
    font-weight: 500;
    color: red;
    background-color: white;
}

.rem_button:hover {
    color:white;
    background-color: red;
}

a {
    text-decoration: none;
}

.cancel_button {
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    border-color: #0E2C4B;;
    font-size: 13px;
    font-weight: 500;
    color: #0E2C4B;
    background-color: white;
}

.cancel_button:hover {
    color:white;
    background-color:#0E2C4B;
}
