
.branch_topics {
    margin:30px 72px;
    font-size:25px;
    color: #1d1b31;
    font-weight: 500;
}
   .branch_view {
    display:flex;
    justify-content: space-evenly;
    margin:30px 72px;
    gap:15px;


  }



  .branch_view .each_branch {
    flex:50%;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    padding:20px;
    border-radius: 10px;
      box-shadow: 3px 3px 3px #888888;
  }

   .branch_view .each_branch .branch_details {
    display: flex;
    padding:10px;
    background-color:#FFFFFF;
    gap:20px;
    border-radius: 10px;
    flex-wrap: wrap;
    color: red;
    
  }

   .branch_view .each_branch .branch_details .line_vertical{
    border-left: 3px solid black;
    height: auto;
  }

   .branch_view .each_branch .branch_details .branch_number {
    font-size: 60px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
       color: #1d1b31;
  }

   .branch_view .each_branch .branch_details .branch_info {
    font-size: 20px;
    line-height: 35px;
    margin-left: 8px;
       color: #1d1b31;
  }

  .branch_view .each_branch .branch_details .branch_info .branch_name {
    font-size: 23px;
    font-weight: 500;
  }

   .branch_view .each_branch .branch_managers, .instructors , .members {
    background-color:#FFFFFF;
    padding:10px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 20px;
  }

  .branch_view .branch_list {
    flex:30%;
    padding: 20px;
    background-color:#E5E5E5 ;
    border-radius: 10px;
      box-shadow: 3px 3px 3px #888888;
  }

   .branch_view .branch_list .list_top {
    display:flex;
    padding:10px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
  }

  .branch_view .branch_list .list_top .all {
    font-size: 20px;
    font-weight: 500;
  }

  .branch_view .branch_list .list_top .add {
    font-weight: 450;
    color: #0E2C4B;
  }

  .branch_view .branch_list .list_bottom {
    margin-top: 10px;
    padding:10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

 .branch_view .branch_list .list_bottom input{
    width:100%;
    border:none;
    border-bottom:1px solid black;
  }

  .branch_view .branch_list .list_bottom .branch_detail_list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  
  }

   .branch_view .branch_list .list_bottom .branch_detail_list .branch01 {
    margin-top: 5px;
    display:flex;
    padding: 20px 20px 20px 20px;
    font-size: 25px;
    justify-content: space-between;
    background-color:#F2F2F2;
  }
   .branch01_name{
       align-items: flex-start;
   }

.branch_list a {
    cursor:pointer;
}

.branch_detail_list a {
    text-decoration: none;
    color:black;

}
.branch_detail_list a:hover {
    color: red;
}

.panel{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 20px;
}

.panel ul {
    padding-top :10px;
}
   .list_accordion {
       background-color: #F2F2F2;
       box-shadow: 1px 1px 1px #888888;
       cursor: pointer;
       padding: 10px;
       width: 100%;
       border: none;
       border-radius: 10px;
       text-align: left;
       outline: none;
       font-size: 20px;
       transition: 0.4s;
   }

   @media only screen and (max-width: 1000px) {
    .branch_view {
        flex-direction: column;
    }

       .branch_view .each_branch .branch_details .branch_info {
           line-height: 35px;
           margin-left: 8px;
       }
   }

   @media only screen and (max-width: 768px) {
       .branch_view {
           flex-direction: column;
       }

       .branch_details {
           flex-direction: column;
           padding: 0px;
           gap:0px;
       }
       .branch_view .each_branch .branch_details .line_vertical{
           display: none;
       }
       .branch_view .each_branch .branch_details .branch_info {
           font-size: 20px;
           line-height: 35px;
           margin-left: auto;
           margin-right: auto;
       }
   }