.report_view_admin{
    margin:30px 72px;
}

.reports_physical_header span {
    /*color: #0E2C4B;*/
    color:black;
    font-size:26px;
    font-weight: bold;
}

.reports_physical_big_container{
    display: flex;
    flex-direction: column;
}
.reports_physical_container {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius:5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin:30px 0;
    display: flex;
    flex-direction: column;
}
.reports_physical_container_header {
    color:#0E2C4B;
    font-size:22px;
    font-weight: bold;
    padding-top: 2rem;
    padding-left: 2rem;
}
.reports_physical_container_canvas {
    font-size: 20px;
}
.reports_physical_container_chart1_calender, .reports_physical_container_canvas {
    max-width:100%;
    max-height:80vh;
    padding: 2rem;
}