.workout_plan_physical {
    margin:30px 72px;
}

.workout_plan_physical_btn_group {
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
}
.workout_plan_physical_btn_group_vir input, .workout_plan_physical_btn_group_req input {
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    background-color:#0E2C4B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.workout_plan_physical_btn_group_vir input:hover, .workout_plan_physical_btn_group_req input:hover{
    background-color:white;
    border: 1px solid #0E2C4B;
    color:#0E2C4B;
}

/*popups*/
.virtual_workout_packages{
    display:flex;
    flex-direction:column;
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    z-index: 100;
    border-radius: 5px;
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.virtual_workout_packages_header_h1 {
    color:#0E2C4B;
    font-weight: bold;
    padding: 10px 0;
}

.virtual_workout_packages_header_close{
    position: absolute;
    right: 25px;
    top: 30px;
    cursor: pointer
}
.virtual_workout_packages_header_close i {
    font-size: 24px;
    color:red;
}

.virtual_workout_packages_male_text, .virtual_workout_packages_female_text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    /* pointer:cursor; */
}
.virtual_workout_packages_male_text i, .virtual_workout_packages_female_text i {
    font-size: 20px;
}
.workout_packages {
    text-indent: 20px;
    font-size:16px;
    line-height: 30px;
}
/*.workout_packages a{*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/
/*.workout_packages a i {*/
/*    color: black;*/
/*}*/

.workout_packages div{
    text-decoration: none;
    color: black;
}
.workout_packages div i {
    color: black;
}
#virtual_workout_container_table{
    overflow:scroll;
}

.virtual_workout_packages_popup {
    padding: 20px;
    background-color:#F2F2F2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 800px;
    z-index: 100;
    border-radius: 5px;
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.virtual_workout_packages_header_detail {
    color:#0E2C4B;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}
#virtual_workout_packages_header{
    padding-left: 20px;
}

.virtual_workout_packages_popup_image img{
    height:250px;
    width: 250px;
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 5px;
}
.virtual_workout_packages_popup_description {
    font-size: 16px;
    text-align: justify;
    padding-top: 20px;
    font-weight: normal;
    color: black;
    line-height: 20px;
}
.payment_history_container_row i{
    font-size:14px;
    color:black;
}

/*drag and drop*/
.draggable {
    cursor: move;
    user-select: none;
}
.dragging {
    /*background: #fff;*/
    /*border-top: 1px solid #ccc;*/
    z-index: 999;
}
/*.clone-list {*/
/*    border-top: 1px solid #ccc;*/
/*}*/
.clone-table {
    width:92%;
    margin: 18px 4% 10px;
    border-collapse:separate;
    border-spacing:0 0;
}
.clone-table th,
.clone-table td {
    background-color: white;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    /*border-left: 15px solid #7CD0FF;*/
}

.workout_container_header_search {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.workout_physical_container_left_search {
    display: flex;
    background-color: white;
    /* padding:10px; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 30px 50px 10px;
    /*margin-right: 30px;*/
    align-items: center;
}
.workout_plan_virtual_search{
    flex: 85%;
    /*background-color:blue;*/
}
.workout_plan_virtual_search input {
    padding: 5px;
    width: 200px;
    line-height: 30px;
    border:none;
    border-radius: 10px 0 0 10px;
}
.messages_physical_container_left_search_icon{
    flex: 15%;
    border-radius: 0 10px 10px 0;
}
.messages_physical_container_left_search_icon i {
    font-size: 22px;
}

.workout_container_header_search_cant_find img{
    width: 100%;
    height:80vh;
}

.payment_history_container_row_checkbox {
    padding: 10px;
}