
/* --------------------------------boxes--------------------------- */

.maintainer_notice_home{
    margin: 30px 72px 30px 72px;
}

.notice_title{
    display: inline-block;
    /*background-color: white;*/
    font-size: 24px;
}

.notice_title a{
    text-decoration: none;
    cursor: pointer;
}


/*------------------------table---------------------------*/

.manager_notice {
    background-color:#d6d4d4;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /*margin: 30px 72px 30px 72px;*/
}

.title_man_notice{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.title_notice_name{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 30px;
}

.title_notice_name span{
    font-size: 30px;
    font-weight: bold;
}

.ins_manager_notice_details {
    overflow-x: auto;
}
.manager_notice_table{
    width:92%;
    margin: 35px 4% 10px;
    border-collapse:separate;
    border-spacing:0 15px;
}

.manager_notice_row, .manager_notice_header  {
    background-color: white;
    height: 60px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.manager_notice_row:hover {
    background-color:#75CDFF;
    color: white;
}



/*--------------------------------------------------------------------form--------------------------------------------*/

.notice_title_name{
    font-weight: bold;
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.notice_form_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    margin: auto;
    padding: 25px;
    align-items:center;
    font-size: 18px;
    width: fit-content;
    box-shadow: 0px 5px 5px 5px gray;
}

.maintainer_notice_form .notice_label{
    margin:15px 0;
    display:inline-block;
    padding:6px;
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #0E2C4B;
    width: 500px;
}

/* -------------------submit button----------------------- */
.btn_submit {
    margin:10px 0;
    display:inline-block;
    /*padding:10px;*/
    font-size: 16px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #0E2C4B;
    color: white;
    padding:10px 25px;
    width: 100px;
}

.submit_btn_class{
    text-align: center;
}

.btn_submit:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #0E2C4B;
    border-color: #0E2C4B;
}


/*-----------------------------pop up---------------------------------*/
.notice_title_btn_a{
    padding: 10px 15px;
    background-color:#0E2C4B;
    color:white;
    border-radius:5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    cursor: pointer;
}

.notice_title_btn_a:hover{
    background-color:white;
    color:#0E2C4B;
    border: 1.5px solid #0E2C4B;
}

.add_notice_container {
    flex-direction:column;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 100;
    border-radius: 5px;
    display: none;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 1s;
}

.close_add_notice_btn {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}
.close_add_notice_btn i {
    font-size: 24px;
    color:red;
}

.validation_notice_label {
    color: red;
}